body {	
/*	display: inline-block;*/
	background: #1D1E22;

}

.aboutMeHome{
	display: flex;
	justify-content: center;
}

.projectHome{
	display: flex;
	justify-content: center;
padding: 20px;
}
.containerSkills{
		display: flex;
		justify-content: center;
padding: 20px;
}

.responsiveNav{
	
}
@media(max-width: 650px) {
    .responsiveNav  {
    	position: relative;
      display: flex;
       height: max-content;
       width: max-content;
       justify-content: center;
 margin: 50px;
    }

}
