body {	
/*	display: inline-block;*/
	background: #1D1E22;

}

.aboutMeHome{
	display: flex;
	justify-content: center;
}

.projectHome{
	display: flex;
	justify-content: center;
padding: 20px;
}
.containerSkills{
		display: flex;
		justify-content: center;
padding: 20px;
}

.responsiveNav{
	position: sticky;
	bottom: 0;
	top: 5px; 
	z-index: 1;
	background: #1D1E22;
}
@media(max-width: 650px) {
    .responsiveNav  {
    	position: relative;
      display: flex;
       height: max-content;
       width: max-content;
       justify-content: center;
 margin: 50px;
    }

}


@media(max-width: 650px) {
	.projectHome{
		    	position: relative;
      display: flex;
      margin: 0;
	}
}

@media(max-width: 650px){
	.responsiveContact{
		display: flex;
		padding: 20px;
		justify-content: center;
	}
}

@media(max-width: 650px){
	.containerSkills{
				display: flex;
		padding: 50px;
		justify-content: center;

	}

}
