body {	
/*	display: inline-block;*/
	background: #1D1E22;

}

.aboutMeHome{
	display: flex;
	justify-content: center;
}

.projectHome{
	display: flex;
	justify-content: center;
padding: 20px;
}
.containerSkills{
		display: flex;
		justify-content: center;
padding: 20px;
}