

.container{   
    position: relative;
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn
{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
   box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.75), -4px -4px 16px rgba(255, 255, 255, 0.1);
}

i.fa
{
    font-size: 45px;
}
#fb
{
    color: #00C1FF ;
    text-shadow: 0 0 30px #00C1FF ;
}
#ig
{
    color: #ae00ff;
    text-shadow: 0 0 30px #ae00ff;
}
#g{

    color: #FF4200  ;
    text-shadow: 0 0 30px #FF4200   ;

}
#tw
{
    color: #0074FF ;
    text-shadow: 0 0 30px #0074FF ;
}

.btn.fb-btn:hover
{
    transform: scale(1.2);

}

.btn.ig-btn:hover
{
    transform: scale(1.2);

}

.btn.tw-btn:hover
{
    transform: scale(1.2);

}



.btn:active{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
}




#wp
{
    color: #4AF56C;
    text-shadow: 0 0 30px #00acff;
}


.btn.wp-btn:hover
{
    transform: scale(1.2);

}

@media(max-width: 650px){
    .btn{
/*        margin: 25px;*/
      border-radius: 20px;
      padding: 10px;
    }
.container{
    display: inline-table;
    margin: 0;
    height: max-content;
}
}
