.card4 {
    padding: 20px;
 width: 90%;
 height: 254px;
/* border-radius: 30px;*/
border-radius: 40px 0 40px 0;
 /*background-color: #1D1E22;
 box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);*/
               background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}


.card5{
/*    margin: 20px;*/
    width: 100%;
 height: 90%;
 border-radius: 30px;
background: #e0e0e0;
box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}

/*.skills:focus,
.skills:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff
}*/
.skills{
    color: black;
display: flex;
justify-content: center;
}
.imgContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
img{
    width: 50px;
    cursor: pointer;
}
.skillsTitle:hover{
   scale: 1.2; 
    transition: 2s;
    z-index: 2;
}
.skillsTitle{
    color: black;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       transition: 2s;
}
h3{
    left: 1%;
    position: relative;
    display: flex;
    font-size: 15px;
}


@media(max-width: 650px){
    .card4{
        display: flex;
         height: max-content ;
    }
    .card5{

         height: max-content ;


    }
    .skills{
        display: flex;

        text-align: center;
    }
    .imgContainer{
         height: max-content ;
        display: inline;


    }
}
